.btn{
    background: #556270;
    color: white;
    width: 150px;
    border: 2px outset white;
  }

  .card {
    padding: 5%;
    border: 2px solid #556270;
    margin: 0 auto;
  }

.cardimg {
  border: 1px solid #556270;
}